:root {
  --footer-background: hsl(233, 26%, 24%);
  --primary-font-color: #fff;
  --center-row: 0 auto;

  /* links */
  --link-hover-color: hsl(160, 65%, 50%);
}

footer {
  background-color: var(--footer-background);
  padding: 0 25px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  max-width: 1110px;
  margin: var(--center-row);
  font-size: 26px;
  color: var(--primary-font-color);
}

.column {
  margin: 0 auto;
  padding-top: 48px;
}

.column-logo {
  display: flex;
  justify-content: center;
}
.footer-logo-text {
  fill: #fff;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 13px;
  list-style: none;
  padding-top: 55px;
}
.icon-background:hover {
  fill: var(--link-hover-color);
  cursor: pointer;
  transition-duration: 0.25s;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer-menu-item {
  margin-bottom: 10px;
}
.footer-menu-item > a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.footer-menu-item > a:hover {
  color: var(--link-hover-color);
  transition-duration: 0.25s;
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1024px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    max-width: 1110px;
    margin: var(--center-row);
    color: var(--primary-font-color);
  }
  .column-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .column-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  .footer-menu-01,
  .footer-menu-02 {
    align-items: flex-start;
    padding-right: 130px;
  }
}
