.header__container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow-x: clip;
}
.header__col__left,
.header__col__right {
  width: 50%;
  height: 100%;
  position: relative;
}

.header__mockup__img {
  position: relative;
  width: 100%;
  transform: translate(100px, -150px);
}
.header__col__right {
  /* overflow-x: hidden; */
  background-image: url("../images/bg-intro-desktop.svg");
  background-size: 200%;
  background-position: -60px -239px;
}
