@mixin setFlex($flex-direction, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin Btn {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    transition-duration: 0.25s;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg,
            rgba(49, 209, 103, 1) 30%,
            rgba(47, 182, 214, 1) 80%);
    cursor: pointer;
}

@mixin BtnHover {
    filter: grayscale(40%) brightness(1.2);
}
