@use'./consts'as const;
@use'./mixin';

.bg_color {
    background-color: const.$bgc;
}

.about {
    @include mixin.setFlex(column);
    padding: 70px 20px;
    text-align: center;

    .title {
        padding-bottom: 20px;
        font-weight: normal;
    }

    .text {
        color: const.$text-c;
        line-height: 150%;
        font-size: 15px;
    }

    &__choose {
        padding-bottom: 30px;
    }

    &__title {
        font-size: 34px;
    }

    &-item {
        padding-top: 40px;

        &__icon {
            padding-bottom: 20px;
        }

        &__title {
            font-size: 22px;
        }
    }
}

@media(min-width:const.$breakpoint-md) {
    .about {
        @include mixin.setFlex(row, space-between);
        flex-wrap: wrap;
        padding: 90px 50px;
        text-align: left;

        &__choose {
            flex-grow: 1;
            width: 100%;
        }

        &-item {
            width: 300px;
        }
    }
}

@media(min-width:const.$breakpoint-lg) {
    .about {
        &-item {
            width: 400px;
        }
    }
}

@media (min-width:const.$breakpoint-xl) {
    .container {
        @include mixin.container;
    }

    .about {
        padding-left: 0;
        padding-right: 0;

        &-item {
            width: 245px;
        }
    }
}